<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="Warn">
    <Filter type="ThresholdFilter" level="trace"/>
    <Properties>
        <property name="pattern">
            %d{yyy-MM-dd HH:mm:ss.SSS} [%main] %-5level %logger{5} - %msg%n
        </property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <File name="kuzmenko"
              fileName="C:\Users\Кузьменко\IdeaProjects\final-task\logs\log.txt">
            <PatternLayout pattern="${pattern}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="kuzmenko"/>
        </Root>
    </Loggers>
</Configuration>