.main {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 110%;
}

#footer {
    position: fixed;
    left: 40%; bottom:3%;
    color: #000033;
    right: 0;
}
#customTag {
    position: fixed;
    left: 45%; bottom:0;
    color: #000033;
    right: 0;
}

#footer div {
    padding: 10px;
    background: #FFF;
}


